body {
  background-color: rgb(215, 207, 164);

}

/* Blurs the content behind modal */
.blurred {
  filter: blur(5px);
  pointer-events: none; /* prevents interaction with blurred content */
  user-select: none;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal box */
.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal2 {
   border-style: solid;
  border-color: black;
  height:800px;
  width:950px;
  margin-left: 20px;
  margin-top:-35px;
   text-align: left;
   padding: auto;
    background-color: white;
  padding: 2rem;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
